# Thirdparty modules
lua/other/*
combined/vsteams.combined.lua
combined/vsteamsantimacro.combined.lua
examples/
*.old.lua
*.old.py

# Test and temporary
lua/test/*
luatest
tfm_lua/
tmp/
test_results/
*.d
*.tmp
*.tmp.lua
TODONOW.md
*/__pycache__/*

# Generated
lua/pshy/enums/soundtree.lua
